.scrollToTop {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: $white-color;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    position: fixed;
    border-radius: 5px;
    @include transform(translateY(150px));
    background: $theme-color;
    text-align: center;
    font-size: 16px;
    &:hover {
        color: $white-color;
    }
    &.active {
        @include transform(translateY(0));
        animation: bounceInDown 2s ;
        -webkit-animation: bounceInDown 2s ;
        -moz-animation: bounceInDown 2s ;
    }
    img {
        width: 100%;
    }
}
.custom-button {
    color: $white-color;
    @include border-radius(30px);
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 30px 10px;
    font-size: 18px;
    background: -moz-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
    background: -ms-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);      
    font-family: $heading;
    &:hover {
        color: $white-color;
        background-color: $white-color;
    }
    @include breakpoint(max-sm) {
        padding: 15px 30px 10px;
        font-size: 16px;
    }
    &.white {
        background: $white-color;
        color: $theme-one;
        &:hover {
            background: $theme-one;
            color: $white-color;
        }
    }
    &.active {
        background: transparent;
        color: $title-color;
        text-transform: capitalize;
        box-shadow: none;
        &:hover {
            background: -moz-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
            background: -ms-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
            background: -webkit-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
            box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);      
            border-color: $theme-color;
            color: $white-color;
        }
    }
    &.yellow {
        background: -moz-linear-gradient( 92deg, rgb(255,131,89) 0%, rgb(255,223,64) 100%);
        background: -webkit-linear-gradient( 92deg, rgb(255,131,89) 0%, rgb(255,223,64) 100%);
        background: -ms-linear-gradient( 92deg, rgb(255,131,89) 0%, rgb(255,223,64) 100%);
        box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
    }
    &.btn-large {
        @include breakpoint(sm) {
            padding: 12px 48px 8px;
            line-height: 40px;
            @include border-radius(30px);
        }
    }
    &.pink {
        background: -moz-linear-gradient( 135deg, rgb(255,99,222) 0%, rgb(216,67,226) 44%, rgb(177,34,230) 100%);
        background: -webkit-linear-gradient( 135deg, rgb(255,99,222) 0%, rgb(216,67,226) 44%, rgb(177,34,230) 100%);
        background: -ms-linear-gradient( 135deg, rgb(255,99,222) 0%, rgb(216,67,226) 44%, rgb(177,34,230) 100%);
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); 
        text-transform: capitalize;         
    }
}
button.custom-button {
    padding: 0 40px;
    font-size: 20px;
    outline: none;
    border: none;
    height: 60px;
    width: auto;
    @include border-radius(30px);
    @include breakpoint(max-sm) {
        height: 50px;
        font-size: 16px;
    }
}
.load-wrapper {
    margin-top: 40px;
    text-align: center;
    @include breakpoint(md) {
        margin-top: 60px;
    }
}
.load-more {
    line-height: 57px;
    padding: 3px 45px 0;
    @include border-radius(30px);
    border: 1px solid $border-two;
    font-size: 18px;
    color: $title-color;
    text-transform: capitalize;
    &:hover {
        color: $white-color;
        background: $theme-color;
    }
    &.small {
        padding: 3px 33px 0;
    }
    &.e-small {
        line-height: 47px;
        padding: 3px 33px 0;
    }
    @include breakpoint(max-sm) {
        line-height: 45px;
        padding: 3px 30px 0;
        font-size: 16px;
    }
}
.video-button {
    color: $white-color;
    border: none;
    text-align: center; 
    width: 60px;
    height: 60px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:  $theme-one;
    position: relative;
    a {
        display: block;
        position: relative;
        z-index: 1;
    }
    i {
        line-height: 60px;
        font-size: 36px;
        margin-left: 8px;
    }
    &:hover {
        color: #ffffff;
    }
    &::after, &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 74px;
        background: $theme-one;
        opacity: 0.15;
        z-index: -10;
    }
    &::before {
        z-index: -10;
        -webkit-animation: inner-ripple 2000ms linear infinite;
        -moz-animation: inner-ripple 2000ms linear infinite;
        animation: inner-ripple 2000ms linear infinite;
    }
    &::after {
        z-index: -10;
        -webkit-animation: outer-ripple 2000ms linear infinite;
        -moz-animation: outer-ripple 2000ms linear infinite;
        animation: outer-ripple 2000ms linear infinite;
    }
    span {
        width: 100%;
        height: 100%;
        @extend %pa;
        border: .3px solid $theme-one;
        @include border-radius(50%);
        animation: 5s customZoom infinite;
        -webkit-animation: 5s customZoom infinite;
        -moz-animation: 5s customZoom infinite;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        &::after, &::before {
            width: 100%;
            height: 100%;
            @extend %pa;
            border: .3px solid $theme-one;
            @include border-radius(50%);
            animation: 5s customZoom infinite;
            -webkit-animation: 5s customZoom infinite;
            -moz-animation: 5s customZoom infinite;
            top: 50%;
            left: 50%;
            opacity: 0;
        }
        &::after {
            animation-delay: 1s;
        }
        &:nth-child(even) {
            animation-delay: 4s;
            &::after {
                animation-delay: 2s;
            }
            &::before {
                animation-delay: 3s;
            }
        }
    }
}
@keyframes customZoom {
    0% {
        @include transform(translate(-50%, -50%)scale(1));
        opacity: .9;
    }
    100% {
        @include transform(translate(-50%, -50%)scale(2));
        opacity: .1;
    }
}
.normal-button {
    line-height: 50px;
    padding: 2px 40px 1px;
    border: 1px solid rgb(181, 156, 228);
    border-radius: 30px;
    color: $title-color;
    line-height: 46px;
    &:hover {
        color: $white-color;
        background: -moz-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
        background: -ms-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
        background: -webkit-linear-gradient( 90deg, rgb(61,169,245) 0%, rgb(104,61,245) 100%);
        box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);              
    }
}
@keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-filter: alpha(opacity=50);
    }

    80% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }

    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    80% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }

    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(3.5);
        -moz-transform: scale(3.5);
        -ms-transform: scale(3.5);
        -o-transform: scale(3.5);
    }
}

@-moz-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    80% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }

    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(3.5);
        -moz-transform: scale(3.5);
        -ms-transform: scale(3.5);
        -o-transform: scale(3.5);
    }
}

/* inner ripple */
@keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@-moz-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

.button-3 {
    text-transform: uppercase;
    font-weight: 500;
    @include border-radius(30px);
    border: 1px solid #cac7f6;
    color: $title-two;
    padding: 10px 40px;
    font-size: 16px;
    font-family: $heading;
    &.active, &:hover {
        color: $white-color;
        border-color: transparent;
        background: -ms-linear-gradient( -65deg, rgb(193,101,221) 0%, rgb(17,83,252) 100%);
        background: -moz-linear-gradient( -65deg, rgb(193,101,221) 0%, rgb(17,83,252) 100%);
        background: -webkit-linear-gradient( -65deg, rgb(193,101,221) 0%, rgb(17,83,252) 100%);
        box-shadow: 0px 7px 24px 0px rgba(18, 83, 252, 0.51);
    }
    &.active {
        &:hover {
            background: transparent;
            border: 1px solid #cac7f6;
            color: $title-two;
            box-shadow: none
        }
    }
    i {
        margin-left: 5px;
    }
    &.long-light {
        padding: 10px 30px;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 16px;
    }
}